* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Oswald', sans-serif;
}

/* Table Texts information */
#search-page div.table div.text {
  position: absolute;
  margin: 100px -55px;

  color: #FFFFFF;
  font-size: 22px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

#search-page div.table div.text div.textOne, div.textTwo, div.textThree,
  div.textFour, div.textFive, div.textSix {
    height: 40px;

    background: #FF8B03;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }

#search-page div.table div.text div.textTwo, div.textThree, div.textFour,
  div.textFive, div.textSix {
    margin: 5px 0;
  }

#search-page div.table div.text div.textOne {
  width: 140px;
}

#search-page div.table div.text div.textTwo {
  width: 40px;
}

#search-page div.table div.text div.textThree {
  width: 110px;
}

#search-page div.table div.text div.textFour {
  width: 160px;
}


#search-page div.table div.text div.textFive {
  width: 175px;
}

#search-page div.table div.text div.textSix {
  width: 125px;
}

/* Registers */
#search-page div.table div.registers div.firstColor {
  width: 225px;
  height: 300px;
  position: absolute;
  margin: 425px -55px;

  font-size: 26px;
  color: #000;
  background: #F56D20;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    
  display: flex;
  flex-direction: column;
}

#search-page div.table div.registers div.firstColor div.socialReason img,
  #search-page div.table div.registers div.firstColor div.uf img, 
  #search-page div.table div.registers div.firstColor div.phoneNumber img, 
  #search-page div.table div.registers div.firstColor div.personType img,
  #search-page div.table div.registers div.firstColor div.inclusionDate img,
  #search-page div.table div.registers div.firstColor div.backOffice img {
    margin-left: 230px;
  }

/* Set the rule only for mobile */
@media only screen and (max-width: 400px) {
  #search-page div.table div.registers div.firstColor div.socialReason,
    #search-page div.table div.registers div.firstColor div.uf, 
    #search-page div.table div.registers div.firstColor div.phoneNumber, 
    #search-page div.table div.registers div.firstColor div.personType,
    #search-page div.table div.registers div.firstColor div.inclusionDate,
    #search-page div.table div.registers div.firstColor div.backOffice { 
      width: 450px;
      height: 50px;
      margin-left: 10px;

      display: flex;
      flex-direction: row; 
    }
  }

/* Desktop version */
@media(min-width: 768px) {
  #search-page div.table div.text {
    margin: 125px -410px;
  
    font-size: 26px;
  
    flex-direction: row;
  }
  
  #search-page div.table div.text div.textOne, div.textTwo, div.textThree,
    div.textFour, div.textFive, div.textSix {
      height: 50px;
    }
  
  #search-page div.table div.text div.textTwo, div.textThree, div.textFour,
    div.textFive, div.textSix {
      margin: 0 20px;
    }
  
  #search-page div.table div.text div.textOne,
    #search-page div.table div.text div.textThree {
      width: 165px;
    }
  
  #search-page div.table div.text div.textTwo {
    width: 65px;
  }
  
  #search-page div.table div.text div.textFour {
    width: 195px;
  }
  
  #search-page div.table div.text div.textFive {
    width: 200px;
  }
  
  #search-page div.table div.text div.textSix {
    width: 175px;
  }
  
  /* Registers */
  #search-page div.table div.registers div.firstColor {
    width: 1145px;
    height: 70px;
    margin: 200px -410px;
  
    cursor: pointer;
    font-size: 26px;
    
    display: flex;
    flex-direction: row;
  
    transition: 2s;
  }
  
  #search-page div.table div.registers div.firstColor:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #search-page div.table div.registers div.firstColor div.socialReason {
    margin-left: 5px;
  }
  
  #search-page div.table div.registers div.firstColor div.inclusionDate img {
    margin-left: 80px;
  }
  
  #search-page div.table div.registers div.firstColor div.socialReason,
    #search-page div.table div.registers div.firstColor div.uf, 
    #search-page div.table div.registers div.firstColor div.phoneNumber, 
    #search-page div.table div.registers div.firstColor div.personType,
    #search-page div.table div.registers div.firstColor div.inclusionDate,
    #search-page div.table div.registers div.firstColor div.backOffice {
      display: flex;
      flex-direction: row;
    }
  
  #search-page div.table div.registers div.firstColor div.socialReason p,
    #search-page div.table div.registers div.firstColor div.uf p, 
    #search-page div.table div.registers div.firstColor div.phoneNumber p, 
    #search-page div.table div.registers div.firstColor div.personType p,
    #search-page div.table div.registers div.firstColor div.inclusionDate p,
    #search-page div.table div.registers div.firstColor div.backOffice p {
      margin: 15px 30px;
    }
    
  #search-page div.table div.registers div.firstColor div.socialReason img,
    #search-page div.table div.registers div.firstColor div.uf img, 
    #search-page div.table div.registers div.firstColor div.phoneNumber img, 
    #search-page div.table div.registers div.firstColor div.personType img,
    #search-page div.table div.registers div.firstColor div.backOffice img {
      margin-left: 0px;
    }
}
