* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Oswald', sans-serif;
}

/* Table Texts information */
#search-page div.table div.text {
  margin: 25px 70px;

  color: #FFFFFF;
  font-size: 26px;
  text-align: center;

  display: flex;
  flex-direction: row;
}

#search-page div.table div.text div.textOne, div.textTwo, div.textThree,
  div.textFour, div.textFive, div.textSix {
    background: #FF8B03;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }

#search-page div.table div.text div.textTwo, div.textThree, div.textFour,
  div.textFive, div.textSix {
    margin: 0 20px;
  }

#search-page div.table div.text div.textOne {
  width: 165px;
  height: 50px;
}

#search-page div.table div.text div.textTwo {
  width: 65px;
  height: 50px;
}

#search-page div.table div.text div.textThree {
  width: 165px;
  height: 50px;
}

#search-page div.table div.text div.textFour {
  width: 195px;
  height: 50px;
}


#search-page div.table div.text div.textFive {
  width: 200px;
  height: 50px;
}

#search-page div.table div.text div.textSix {
  width: 175px;
  height: 50px;
}

/* Registers result */
#search-page div.table div.registers div.firstColor, 
  #search-page div.table div.registers div.secondColor {
    width: 1145px;
    height: 70px;
    margin-left: 70px;
    
    cursor: pointer;

    font-size: 26px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    flex-direction: row;

    transition: 2s;
  }

#search-page div.table div.registers div.firstColor:hover, 
  #search-page div.table div.registers div.secondColor:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

#search-page div.table div.registers div.firstColor {
  background: #F56D20;
}

#search-page div.table div.registers div.secondColor {
  margin-top: 25px;

  background: #FF8B03;
}

#search-page div.table div.registers div.firstColor div.socialReason,
  #search-page div.table div.registers div.secondColor div.socialReason {
    margin-left: 15px;
  }

#search-page div.table div.registers div.firstColor div.inclusionDate img,
  #search-page div.table div.registers div.secondColor div.inclusionDate img {
    margin-left: 80px;
  }

#search-page div.table div.registers div.firstColor div.socialReason,
  #search-page div.table div.registers div.firstColor div.uf, 
  #search-page div.table div.registers div.firstColor div.phoneNumber, 
  #search-page div.table div.registers div.firstColor div.personType,
  #search-page div.table div.registers div.firstColor div.inclusionDate,
  #search-page div.table div.registers div.firstColor div.backOffice,
  
  #search-page div.table div.registers div.secondColor div.socialReason,
  #search-page div.table div.registers div.secondColor div.uf, 
  #search-page div.table div.registers div.secondColor div.phoneNumber, 
  #search-page div.table div.registers div.secondColor div.personType,
  #search-page div.table div.registers div.secondColor div.inclusionDate,
  #search-page div.table div.registers div.secondColor div.backOffice {
    display: flex;
    flex-direction: row;
  }

  #search-page div.table div.registers div.firstColor div.socialReason p,
  #search-page div.table div.registers div.firstColor div.uf p, 
  #search-page div.table div.registers div.firstColor div.phoneNumber p, 
  #search-page div.table div.registers div.firstColor div.personType p,
  #search-page div.table div.registers div.firstColor div.inclusionDate p,
  #search-page div.table div.registers div.firstColor div.backOffice p,
  
  #search-page div.table div.registers div.secondColor div.socialReason p,
  #search-page div.table div.registers div.secondColor div.uf p, 
  #search-page div.table div.registers div.secondColor div.phoneNumber p, 
  #search-page div.table div.registers div.secondColor div.personType p,
  #search-page div.table div.registers div.secondColor div.inclusionDate p,
  #search-page div.table div.registers div.secondColor div.backOffice p {
    margin: 15px 30px;
  }
