#pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.formContainer {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.selectBox {
  width: 100%;
  margin-bottom: 15px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.formButton {
  width: 100px;
  height: 35px;
  cursor: pointer;
  background-color: #ee5928;
  border-radius: 10px;
  border-width: 0;
  font-weight: bold;
  color: #fff;
  transition: 2s;
}

.formButton:hover {
  background-color: #FF8B03;
}


