#pageContainer {
  padding: 20px 15px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

#pageContainer div.formContainer div.selectBoxContainer {
  padding: 10px;
}

#pageContainer div.formContainer div.selectBoxContainer select.selectBox {
  width: 100%;
  max-width: 400px;
  height: 30px;
  
  border-width: 2px;
  border-radius: 10px;
  border-color: #ee5928;
  
  background-color: #fff;
  color: #000;
}

#pageContainer div.formContainer div.buttonContainer {
  padding: 10px;
  margin: 5px 0 25px 0;
}

#pageContainer div.formContainer div.buttonContainer button.formButton {
  width: 100px;
  height: 35px;

  cursor: pointer;
  background-color: #ee5928;
  border-radius: 15px;
  border-width: 0;
  
  font-weight: bold;
  color: #fff;

  transition: 1s;
}

#pageContainer div.formContainer div.buttonContainer button.formButton:hover {
  background-color: #FF8B03;
}

/* Pagination */
#pageContainer div.pagination {
  margin-top: 25px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageContainer div.pagination button,
  #pageContainer div.pagination div.numbers div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 3px 15px;

    cursor: pointer;
    
    background: #ee5928;
    color: #FFF;
    border: 0;
    border-radius: 25px;

    transition: 0.4s;
  }

#pageContainer div.pagination button:hover,
  #pageContainer div.pagination div.numbers div:hover {
    background: #FF8B03;
  }

.next {
  font-size: 16px;
  font-weight: bold;
}

.prev {
  font-size: 16px;
  font-weight: bold;
}

.empty {
  font-weight: bold;
  color: red;
}
